@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin 'tailwind-scrollbar';

@theme {
  --font-sans: "Fira Sans Condensed", sans-serif;
  --font-cursive: "Petit Formal Script", cursive;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ui-bg: var(--ui-color-neutral-100);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-link {
  @apply bg-gradient-to-r bg-bottom bg-[length:0_1px] bg-no-repeat bg-[0_100%] transition-[background-size] hover:bg-[length:100%_1px] w-fit duration-500;
}

.default-link {
  @apply from-[var(--ui-text-muted)] to-[var(--ui-text-muted)];
}
