@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin 'tailwind-scrollbar';

@theme {
  --font-sans: "Fira Sans Condensed", sans-serif;
  --font-cursive: "Petit Formal Script", cursive;
  --text-tiny: 0.625rem;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ui-primary: var(--ui-color-primary-600);
  --ui-atp: var(--ui-color-atp-600);
  --ui-wta: var(--ui-color-wta-600);
  --ui-bg: var(--ui-color-neutral-100);
  --ui-text: var(--ui-color-neutral-600);
  --ui-text-highlighted: var(--ui-color-neutral-600);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-border: var(--ui-color-neutral-300);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
  --ui-atp: var(--ui-color-atp-400);
  --ui-wta: var(--ui-color-wta-500);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-300);
  --ui-text-highlighted: var(--ui-color-neutral-300);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-border: var(--ui-color-neutral-700);
}

.hover-link {
  @apply bg-gradient-to-r bg-bottom bg-[length:0_1px] bg-no-repeat bg-[0_100%] transition-[background-size] hover:bg-[length:100%_1px] w-fit duration-500;
}

.default-link {
  @apply from-[var(--ui-text-muted)] to-[var(--ui-text-muted)];
}

.atp-link {
  @apply from-[var(--ui-atp)] to-[var(--ui-atp)] text-atp hover:text-atp;
}

.wta-link {
  @apply from-[var(--ui-wta)] to-[var(--ui-wta)] text-wta hover:text-wta;
}

.men-link {
  @apply from-[var(--ui-men)] to-[var(--ui-men)] text-men hover:text-men;
}

.women-link {
  @apply from-[var(--ui-women)] to-[var(--ui-women)] text-women hover:text-women;
}

.primary-link {
  @apply from-[var(--ui-primary)] to-[var(--ui-primary)] text-primary hover:text-primary;
}

.gs {
  @apply text-primary-600 dark:text-primary-400;
}

.a1000 {
  @apply text-active-600 dark:text-active-400;
}

.a500 {
  @apply text-success-600 dark:text-success-400;
}

.a250 {
  @apply text-wta-600 dark:text-wta-400;
}

.OL {
  @apply text-warning-600 dark:text-warning-400;
}

.aws {
  @apply text-doubles-600 dark:text-doubles-400;
}
