@import "tailwindcss";
@import "@nuxt/ui";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme {
  --font-sans: "Fira Sans Condensed", sans-serif;
}

:root {
  --ui-bg: var(--ui-color-neutral-100);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}

a {
  @apply bg-gradient-to-r bg-bottom bg-[length:0_1px] bg-no-repeat bg-[0_100%] transition-[background-size] hover:bg-[length:100%_1px] w-fit duration-500;
}

.hover-link {
  @apply from-[var(--ui-text-muted)] to-[var(--ui-text-muted)];
}
