@import './base.css';

.hover-link {
  color: #d4d4d8;
  text-decoration: none;
  background-image: linear-gradient(#d4d4d8, #d4d4d8);
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
  background-size: 100% 0.1em;
  color: #d4d4d8;
}

@layer components {
  .full-card {
    @apply h-full flex flex-col justify-between;
  }

  .full-card .p-card-body {
    @apply flex-1; /* Ensure body grows to fill space */
  }

  .full-card .p-card-footer {
    @apply mt-auto; /* Push footer to the bottom */
  }
}
