@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.v-application {
  font-family: Inter, sans-serif !important;
}

.hover-link {
  color: #94a3b8;
  text-decoration: none;
  background-image: linear-gradient(#94a3b8, #94a3b8);
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
  background-size: 100% 0.1em;
}

/* .mini-flag {
  width: 30px;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid var(--color-border)
}

.flag {
  width: 150px;
  border-radius: 15px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  background-color: var(--color-background-mute);
  border-radius: 15px;
} */

.strikethrough {
  text-decoration: line-through;
}