@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
    --font-sans: 'Fira Sans Condensed', sans-serif;
    --font-cursive: 'Petit Formal Script', cursive;
}

::-webkit-scrollbar {
    display: none;
  }

:root {
    --ui-bg: var(--ui-color-neutral-200);
    --ui-text: var(--ui-color-neutral-600);
}

.dark {
    --ui-bg: var(--ui-color-neutral-950);
    --ui-text: var(--ui-color-neutral-300);
}

.hover-link {
    @apply inline-block relative;
  }

.hover-link::after {
    @apply dark:bg-slate-400 bg-slate-600 content-[''] absolute w-full scale-x-0 h-[1px] bottom-0 left-0 origin-center transition-all ease-in-out duration-500;
}

.hover-link:hover::after {
    @apply scale-x-100;
}