@import './base.css';

a {
  color: var(--blue-link);
  text-decoration: none;
}

.hover-link {
  color: var(--blue-link);
  text-decoration: none;
  background-image: linear-gradient(var(--blue-link), var(--blue-link));
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
background-size: 100% 0.1em;
}