@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.v-application {
  font-family: Inter, sans-serif !important;
}

.purple-link {
  color: #8b5cf6;
  text-decoration: none;
  background-image: linear-gradient(#8b5cf6, #8b5cf6);
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.purple-link:hover,
.purple-link:focus,
.purple-link:active {
  background-size: 100% 0.1em;
}

.hover-link {
  color: #94a3b8;
  text-decoration: none;
  background-image: linear-gradient(#94a3b8, #94a3b8);
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
  background-size: 100% 0.1em;
}

.small {
  font-variant: small-caps;
}

.strikethrough {
  text-decoration: line-through;
}
