// app global css in SCSS form

:root {
    --q-text: #{$text-light};
    --q-text-dark: #{$text-dark};
    --q-heading: #{$heading-light};
    --q-heading-dark: #{$heading-dark};
    --q-bg-dark: #{$dark};
}

.body--light{
    color: var(--q-text);
}

.body--dark{
    color: var(--q-text-dark);
    background-color: var(--q-bg-dark);
}

.text-heading {
    color: var(--q-heading) !important;
}